## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atuona,PF,78.85,overcast clouds,-9.8000,-139.0333,Villa Enata
1,4,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,5,Beibei,CN,81.07,broken clouds,29.8256,106.4339,FX Hotel Chongqing at Beibei Southwest University
3,17,Busselton,AU,78.31,clear sky,-33.6500,115.3333,Observatory Guest House
4,26,Rikitea,PF,78.84,clear sky,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(
    locations, 
    weights=max_temp,
    dissipating=False, 
    max_intensity=300, 
    point_radius=4
)
marker_layer = gmaps.marker_layer(
    locations, 
    info_box_content = hotel_info
)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to 
#travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Touros", :]
vacation_end = vacation_df.loc[vacation_df["City"] == "Touros", :]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Olinda", :]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sao Jose Da Coroa Grande", :] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Cabedelo", :]

In [13]:
vacation_stop3.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [28]:
import numpy as np
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame 
#using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy(dtype='float64', copy=False, na_value=np.nan)
end = vacation_end[['Lat','Lng']].to_numpy(dtype='float64', copy=False, na_value=np.nan)
stop1 = vacation_stop1[['Lat','Lng']].to_numpy(dtype='float64', copy=False, na_value=np.nan)
stop2 = vacation_stop2[['Lat','Lng']].to_numpy(dtype='float64', copy=False, na_value=np.nan)
stop3 = vacation_stop3[['Lat','Lng']].to_numpy(dtype='float64', copy=False, na_value=np.nan)

In [32]:
stop3

array([[ -6.9811, -34.8339]])

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", 
#"BICYCLING", or "WALKING".

import gmaps.datasets


# Latitude-longitude pairs
start = [ -5.1989, -35.4608]
end = [ -5.1989, -35.4608]
stop1 = [ -8.0089, -34.8553]
stop2 = [ -8.8978, -35.1478]
stop3 = [ -6.9811, -34.8339]

fig = gmaps.figure()
touros2cabedelo = gmaps.directions_layer(start, stop1, waypoints=[stop1,stop2,stop3],
                                         travel_mode='BICYCLING')
fig.add_layer(touros2cabedelo)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,544,Touros,BR,78.69,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
1,558,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
2,575,Sao Jose Da Coroa Grande,BR,77.67,overcast clouds,-8.8978,-35.1478,CrÃ´a Mares Hotel
3,553,Cabedelo,BR,77.67,scattered clouds,-6.9811,-34.8339,Hotel Pigalle

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_df = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

AttributeError: 'list' object has no attribute 'iterrows'

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure